<ul class="breadcrumb">
  <li>
    <%= link_to "Wolfpack", root_path %> <span class="divider">/</span>
  </li>
  <li>
    <%= link_to "User", users_url %> <span class="divider">/</span>
  </li>
  <li class="active">Edit</li>
</ul>

<%= render 'form' %>
