<ul class="breadcrumb">
  <li>
    <%= link_to "Wolfpack", root_path %> <span class="divider">/</span>
  </li>
  <li class="active">User</li>
</ul>

<div class="row-fluid">
  <div class="span12">
    <%= render :partial => 'index_grid' %>
  </div>
</div>

<p>
  <%= link_to 'New', new_user_path, :class => 'btn btn-primary' %>
</p>
