<div class="modal hide" id="carton_boxes_box_style_list">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Box Style</h3>
  </div>
  <div class="modal-body">
    <p>
      <%= render 'box_style_list' %>
    </p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

<div class="modal hide" id="carton_boxes_material_code_list">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Material Code</h3>
  </div>
  <div class="modal-body">
    <p>
      <%= render 'material_code_list' %>
    </p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
