<ul class="breadcrumb">
  <li>
    <%= link_to "Wolfpack", root_path %> <span class="divider">/</span>
  </li>
  <li>
    <%= link_to "Category", products_url %> <span class="divider">/</span>
  </li>
  <li class="active">New</li>
</ul>

<%= render 'form' %>
